.card-text{
    color:green;
    font-weight: 800;
    margin-bottom: 5px;
}

.card-title{
    font-weight: 900;
}

.card{
    max-height: 30rem;
    /* width: 15rem; */
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.card img{
    height: 10rem;
    width: 100%;
    object-fit: fill;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
}
